# Deben setearse en Render para dev y prod
PORT=8086
SPRING_PROFILES_ACTIVE=dev / prod
DATABASE_URI=
FIREBASE_KEY=

# Deben setearse en el .env para correr local con el docker compose
PORT=8086
SPRING_PROFILES_ACTIVE=dev
DB_USERNAME=user
DB_PASSWORD=pass
DB_NAME=admin
DB_PORT=27017
FIREBASE_KEY=

# Deben setearse en el .env para correr local con la db en atlas dev
PORT=8086
SPRING_PROFILES_ACTIVE=dev
DATABASE_URI=
FIREBASE_KEY=