# Deben setearse en la Task Definition de AWS (variables que deben disponibilizarse en la ejecucion del container)
PORT=8086
SPRING_PROFILES_ACTIVE=dev / prod
DATABASE_URI=
GEOCODE_MAPS_API_KEY=
BACKEND_API_KEY_FOR_LAMBDA=
SQS_NAME_BUDDY_RECOMMENDATIONS=

# No son necesarias porque se obtienen automaticamente del entorno en AWS:
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Deben setearse en el .env para correr local con el docker compose
PORT=8086
SPRING_PROFILES_ACTIVE=dev
DB_USERNAME=user
DB_PASSWORD=pass
DB_NAME=admin
DB_PORT=27017
FIREBASE_KEY=
GEOCODE_MAPS_API_KEY=
BACKEND_API_KEY_FOR_LAMBDA=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SQS_NAME_BUDDY_RECOMMENDATIONS=

# Deben setearse en el .env para correr local con la db en atlas dev
PORT=8086
SPRING_PROFILES_ACTIVE=dev
DATABASE_URI=
FIREBASE_KEY=
GEOCODE_MAPS_API_KEY=
BACKEND_API_KEY_FOR_LAMBDA=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SQS_NAME_BUDDY_RECOMMENDATIONS=